@model FAT4FUN.BackEnd.Site.Models.ViewModels.Product2Vm

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Product2Vm</h4>
    <hr />
    <!-- 綁定key值 -->
    @Html.HiddenFor(model => model.Key, new { Value = "cpu/harddrive/memory/gpu" })

    <div class="form-group row">
        <label class="control-label col-md-2 col-form-label">商品分類</label>
        <div class="col-md-10">
            @Html.DropDownList("ProductSkuId", ViewBag.ProductSku as List<SelectListItem>, "請選擇分類", new { @class = "form-control small-input" })
            @Html.ValidationMessageFor(model => model.ProductSkuId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
