@model FAT4FUN.BackEnd.Site.Models.ViewModels.ProductVm


@*@{
        ViewBag.Title = "Create";
    }*@

<style>
    /* 自定義樣式，調整輸入框的大小 */
    .small-input {
        width: 300px; /* 調整寬度，可以根據需要進一步修改 */
    }
</style>

<h2 class="my-4">新增商品</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>商品資訊</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- 商品分類 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">商品分類</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", ViewBag.Categories as List<SelectListItem>, "請選擇分類", new { @class = "form-control small-input" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 品牌 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">品牌</label>
            <div class="col-md-10">
                @Html.DropDownList("BrandId", ViewBag.Brands as List<SelectListItem>, "請選擇品牌", new { @class = "form-control small-input" })
                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 商品名稱 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">商品名稱</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control small-input", placeholder = "請輸入商品名稱" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 商品描述 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">商品描述</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control small-input", placeholder = "請輸入商品描述" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- SKU 名稱 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">規格名稱</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductSkuName, new { htmlAttributes = new { @class = "form-control small-input", placeholder = "請輸入 規格名稱" } })
                @Html.ValidationMessageFor(model => model.ProductSkuName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 價格 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">價格</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control small-input", placeholder = "請輸入價格" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 折扣 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">特價</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sale, new { htmlAttributes = new { @class = "form-control small-input", placeholder = "請輸入價格" } })
                @Html.ValidationMessageFor(model => model.Sale, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 狀態管理 -->
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">狀態管理</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, new SelectList(new[]
                {
                    new { Value = "true", Text = "啟用" },
                    new { Value = "false", Text = "不啟用" }
                }, "Value", "Text"), new { @class = "form-control small-input" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 保存按鈕 -->
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <input type="submit" value="新增" class="btn btn-primary" />
                @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}