@model IEnumerable<FAT4FUN.BackEnd.Site.Models.ViewModels.UserVm>

@{
    ViewBag.Title = "UserCheck";
}

<h2>使用者資訊</h2>

<!-- 上下架篩選功能 -->
<label for="statusFilter" class="mr-2">顯示帳號狀態：</label>
<div class="form-inline mb-3">
    <select id="statusFilter" class="form-control form-control-sm">
        <option value="all" selected>全部</option>
        <option value="true" selected>啟用</option>
        <option value="false">不啟用</option>
    </select>
</div>


<table class="table" id="userTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-status="@item.Status.ToString().ToLower()">
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (item.Status)
                {
                    <span class="badge badge-success">啟用</span>
                }
                else
                {
                    <span class="badge badge-secondary">不啟用</span>
                }
                @*@Html.DisplayFor(modelItem => item.Status)*@
            </td>


            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }, new { @class = "btn btn-primary" }) <!-- Edit button -->
            </td>
        </tr>
    }

</table>


@section Scripts {
    <script>document.getElementById("statusFilter").addEventListener("change", function () {
            var selectedValue = this.value;
            var rows = document.querySelectorAll("#userTable tbody tr");

            rows.forEach(function (row) {
                var status = row.getAttribute("data-status");

                if (selectedValue === "all" || status === selectedValue) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });</script>
}